.floLeft {
  float: left;
}

.floRight {
  float: right;
}

.table-btn {
  color: #ff7635;

}

.table-btn:hover {
  text-decoration: underline;
}
.confirm-btn {
  display: inline-block;
  width: 95px;
	height: 40px;
	background-color: #ff7635;
  border-radius: 4px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.default-btn {
  display: inline-block;
  width: 95px;
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #666666;
  color: #666666;
  line-height: 40px;
  text-align: center;
}
.table-description {
  width: 100px;
	height: 22px;
	border-radius: 4px;
  border: solid 1px #dcdcdc;
  line-height: 22px;
}
.list {
  
}
.item {
  padding-top: 15px;
}
a.label-type {
  text-align: right;
  width: 85px;
  display: inline-block;
  color: #333;
  cursor: default;
}
.item-type {
  padding: 7px 18px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  color: #333333;
  margin: 0 25px;
}
.item-type.active {
  border: solid 1px #ff7635;
  color: #ff7635
}